/*============== Frame Styles =======================================*/
.header		{
		background: url(../images/headerlargepurple.jpg) repeat-x;
		color: white;
		font-family:Verdana, Arial, Helvetica, sans-serif; 
		font-size: 30px;
		font-weight: bold;
		font-stretch: expanded;
		line-height: 50px;
		vertical-align: middle;
		border: solid black;
                border-width: 5px 0px 5px 0px;
		margin: 0px;
		overflow: hidden;
		}

.header-img	{
		margin: 5px;
		float: left ;
		border-width: 0;
		}

.nav-bar	{
		background: url(../images/headerpurpleblue.jpg) repeat-x;
		color: white;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 20px;
		text-align: left;
		border-width: 0px;
		margin: 0px;
		overflow: hidden;
		}

.main		{
		background-color: white;
		color: black;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		text-align: left;
		border-width: 0px;
		margin: 0px;
		overflow: auto;
		}

.footer		{
		background-color: white;
		color: black;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		border-width: 0;
		margin: 10x 0px 10px 0px;
		overflow: hidden;
		}

/*============== Inline Styles ======================================*/
.nvb-off 
		{
		background-color: #666699; 
		color: #FFFFFF; 
		cursor: hand;
		font-size: 20px; 
		font-weight: bold; 
		text-decoration: none;
		padding: 4px 8px 4px 8px;	
		line-height: 44px;
		vertical-align: middle;
		margin: 0px;
		border: 1px solid black;
		}

.nvb-on
		{
		background-color: #99FFFF;		
		color: #000000; 
		cursor: hand;
		font-size: 20px; 
		font-weight: bold; 
		text-decoration: none;
		padding: 4px 8px 4px 8px;	
		line-height: 44px;
		vertical-align: middle;
		margin: 0px;
		border: 1px solid black;
		}

/*============== Block Styles =======================================*/

.column-nb	{
                float: left;
		padding: 8px 10px 2px 10px;	
		}

.column-rb	{
                float: left;
		border: solid black;
                border-width: 0px 1px 0px 0px;
		padding: 8px 10px 2px 10px;	
		}

.column-lb	{
                float: left;
		border: solid black;
                border-width: 0px 0px 0px 1px;
		padding: 8px 10px 2px 10px;	
		}

.column-off	{
		width: 100%;
                float: left;
		clear: both;
		padding: 0px 0px 0px 0px;	
		}

.bottom         {
		position: absolute;
		bottom: 0;
		left: 10px;
		} 

.center         { text-align: center }
.left           { text-align: left }
.right		{ text-align: right }
.justify	{ text-align: justify }

/*============== Font Styles ========================================*/
.heading	{
		Background-color: #CC9900;
		font-weight:bold;
		font-stretch:condensed;
		font-size: larger;
		padding: 4px 8px 4px 8px;	
		}


.fine-print     {
		font-size: 10px;
		}

/*============== Link Styles ========================================*/
A		{
		font-weight: bold;
		border-width: 0;
		}

A:link		{
		color: #0066FF;
		}

A:visited	{
		color: #006699;
		}

A:hover		{
		color: #FF9900;
		}


/*============== Image Styles =======================================*/
.img-left	{
		float: left ;
		border-width: 0
		}

